.slotDatesContainer{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: start;
}

.slotTimingsContainer{
    display: flex;
    flex-wrap: wrap;
}

.slotTimingButton{
    margin: 1rem;
}